<agm-map
  class="map-full"
  [scrollwheel]="'false'"
  [fullscreenControl]="true"
  [gestureHandling]="'greedy'"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="11"
>
  <agm-marker
    *ngFor="let case of cases; let i = index"
    [latitude]="case.latitude"
    [longitude]="case.longitude"
    [iconUrl]="case.pin"
  >
    <agm-info-window>
      <h5>{{ case.place_name }}</h5>
      <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <p class="font-size-16">
            สถานะ :
            <strong
              class="font-size-16"
              [style.color]="case.status_color"
            >
              {{ case.status }}
            </strong>
          </p>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <p class="text-right">{{ case.date_diff_str }}</p>
        </div>
      </div>
      <h6>ข้อมูล : {{ case.note }}</h6>
      <h6>ระยะทาง : {{ case.kilometer_th }}</h6>
    </agm-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let hospital of hospitals; let i = index"
    [latitude]="hospital.latitude"
    [longitude]="hospital.longitude"
    [iconUrl]="hospital.pin"
  >
    <agm-info-window>
      <h5>{{ hospital.name }}</h5>
      <h6>รับตรวจ COVID-19</h6>
      <h6>ประเภท : {{ hospital.hospital_type }}</h6>
      <h6>ค่าตรวจ : {{ hospital.price }}</h6>
      <h6>จังหวัด : {{ hospital.province }}</h6>
      <h6>อำเภอ : {{ hospital.district }}</h6>
      <h6>เบอร์โทร : {{ hospital.phone_number }}</h6>
      <h6>ระยะทาง : {{ hospital.kilometer_th }}</h6>
    </agm-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let safeZone of safeZones; let i = index"
    [latitude]="safeZone.latitude"
    [longitude]="safeZone.longitude"
    [iconUrl]="safeZone.pin"
  >
    <agm-info-window>
      <h5>{{ safeZone.name }}</h5>
      <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <p class="font-size-16">
            สถานะ :
            <strong
              class="font-size-16"
              [style.color]="safeZone.action_color"
            >
              {{ safeZone.action }}
            </strong>
          </p>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <p class="text-right">{{ safeZone.date_diff_str }}</p>
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
